.body {
  position: relative;
}

.product-display {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(180px, 1fr)
  ); /* Adjusts to fit screen */
  gap: 10px; /* Space between items */
  justify-content: center;
  padding: 20px;
}

@media (max-width: 513px) {
  .product-display {
    grid-template-columns: repeat(2, 1fr); /* Ensures 2 products per row */
  }
}
